<html>
    <head>
    </head>
    <body>
        <h1 class="Name">Brandon</h1>
        <button onclick="randomPeople({{.People}})">Get Name</button>
    </body>
    <script>
    function randomPeople(peopleList){
        var nameTag = document.querySelector(".Name");
        var nameArray = [];
        for (var i=0; i< peopleList.length; i++){
            nameArray[i] = peopleList[i].FirstName
        }
        nameTag.innerHTML = nameArray[Math.floor(Math.random() * nameArray.length)]

    }
       var cat = {{ .People }};
       for (var i =0; i < cat.length; i++){
        console.log(cat[i].Age)
       }
        
    </script>
</html>